  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* TO use Box Model  */
  }
  
  body {
    font-family: "Merriweather", serif;
    margin-top: 30px;
  }
  
  .button__primary {
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
  }
  #button{
      background-color: white;
      color: black;
      border: 1px solid black;
      border-radius: 18px;
      padding: 8px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px; 
    
  }
  #button1{
    background-color: #FF7629;
    color: rgb(237, 231, 231);
    border: 1px solid#FF7629;
    border-radius: 18px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin-left: 20px;
  
}
.mayank{
  display: flex;
  color: rgb(14, 14, 14);
  gap: 25px;
  list-style-type:none;
  margin-left: 100px ;
  text-decoration-style: none;
  font-size: 17px;
}
#may{
  font-size: 30px;
  margin-top: -9px;
}
#li{
  color: rgb(97, 92, 92);
}
#text{
  margin-left: 80px;
  color: rgb(97,92,92);
}
  
  .container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
  }
  
  .navbar__brand {
    width: 100px;
  }
  
  .navbar__logo {
    width: 100%;
  }
  
  .nav__item {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .nav__item:hover {
    border: 2px solid blue;
  }
  
  .hero__image__container {
    width: 100%;
  }
  
  .hero__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  
  .hero__text {
    font-size: 30px;
    margin: 20px 0;
   
  }
  
  .explore__menu__text {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .food__card {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 2px solid black;
  }
  .food__card1 {
    background-color: #fff;
    border-radius: 18px;
    margin-bottom: 15px;
   
  }
  
  .food__card__image__container {
    width: 100%;
  }
  
  .food__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .food__image1 {
    width: 90%;
    border-radius: 30px;
    height: 300px;
  }
  
  .food__card__description {
    padding: 15px;
  }
  
  /* Flexxxxxx */
  .restaurant__text {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
  }
  .restaurant__images__container {
    width: 100%;
  }
  
  .restaurant__images__row__one,
  .restaurant__images__row__two {
    width: 100%;
    display: flex;
    gap: 3px;
  }
  
  .restaurant__images__row__one {
    align-items: baseline;
    margin-bottom: 3px;
  }
  
  .restaurant__image__1,
  .restaurant__image__4 {
    width: 100%;
    height: 120px;
  }
  
  .restaurant__image__2,
  .restaurant__image__3 {
    width: 120%;
    height: 200px;
  }
  
  .restaurant__1,
  .restaurant__2,
  .restaurant__3,
  .restaurant__4 {
    width: 100%;
    height: 100%;
  }

  .input__form{
      align-items: center;
      font-size: 2.5rem;
  }
  
  @media (min-width: 768px) {
    .navbar {
      justify-content: space-between;
      padding: 2px 30px;
    }
    .hero__container {
      margin-top: 20px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 40px;
    }
  
    .explore__menu__lists {
      margin-top: 40px;
      display: flex;
      gap: 15px;
      padding: 0 30px;
    }
  
    #pizza__card {
      margin-top: -20px;
      margin-bottom: 30px;
    }
    .explore__menu__container {
      margin-top: 30px;
    }
    .explore__menu__view__more {
      display: flex;
      justify-content: center;
    }
    .explore__menu__container {
      position: relative;
    }
    .explore__menu__gradient__bg {
      position: absolute;
      top: 0;
      left: 0;
  
      width: 100%;
      height: 100%;
  
      transform: skewY(-5deg);
      z-index: -3;
    }
  
    .restaurant__container{
      display: flex;
      align-items: center;
    }
    .restaurant__text{
      width: 100%;
      font-size: 40px;
    }
  }

.email__subcribe__container {
  
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  padding: 15px 15px 15px 15px ;
  margin-right: auto;
  margin-left: auto;
  }

.email__subcribe__input__field {
    display: flex;
    align-items: center;
}
.text-xl {
    font-size: 2.5rem;
    line-height: 2rem;
    color: #1d3557;
    font-weight: 900;
}


.email__input {
    border: 3px solid black;
    background-color: #fcedf0;
    color: black;
    font-weight: 700;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 4px 4px 4px 4px;
    

}
.button__primary{
    margin: 10px 10px 10px 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 4px 4px 4px 4px ;
    display: block;
    cursor: pointer;
}

.quote__container {
    position: relative;
    margin-bottom: 80px;
    
    margin-top: 4rem;
    align-items: center;
    display: flex ;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    height: 200px;
    width: 100%;
    border-radius: 13px 13px 13px 13px;
    background: url("photo-1522336572468-97b06e8ef143 (1).jpg") center center / cover no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;

}

.quote_image_text {
    color: #fff;
    z-index: 3;
    margin: 0px 1rem 0px 1rem;
    text-align: center;
}
.quote_image_overlay {
    position: absolute;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
}
.video__footage__container{
    text-align: center;
}
.video__footage{
    align-items: center; 
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
 
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
    
}

footer > img {
    width: 300px;
    filter: brightness(0) invert(1);
}
footer > ul {
    margin-top: -1rem;
    color: #fff;
}
footer > ul > li {
    margin: 5px 0 5px 0px;
}
@media (min-width: 1020px) {
    .container {
      max-width: 900px;
    }
    .navbar__brand {
      width: 150px;
    }
    .button__primary {
      padding: 20px;
      font-size: 20px;
    }
    .hero__description {
      width: 100%;
    }
    .hero__text {
      font-size: 50px;
    }
    .explore__menu__lists {
      gap: 40px;
    }
    .explore__menu__text {
      font-size: 50px;
    }

   
  }
  
@media (min-width: 1400px) {
    .container {
      max-width: 1250px;
    }
  }

@media (min-width: 768px){
.quote__container {
    margin-left: 85px;
    height: 300px;
    width: 85%;
}
.email__subcribe__text{
    font-size: 45px;
}
}
@media (min-width: 768px){
.quote_image_overlay {
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
}
}

@media (min-width: 768px){
footer {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.email__input{
    height: 58px;
    text-align: center;
}
}

@media (min-width: 768px){
.email__subcribe__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    align-items: normal;
    justify-content: center;
}
}
#img{
  width: 107%;
  height: 530px;
}
.test1{
margin-top: 100px;
}
#id{
  text-align: center;
  font-size: 30px;

}
#id1{
  text-align: center;
  margin-top: 20px;
}
#img1{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 30px;
  margin-right: 600px;
}
#h3{
  margin-top: -60px; 
  margin-right: 300px;
}



.bg-img {
  /* The image used */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcBWrn3HKc0nIZ4KCgOESt3Qq3_B2N1vPZYA&usqp=CAU");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container1 {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
#form{
  border-radius: 10px;
}



 





    
